<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SDA Messenger</title>
</head>
<body>

<h1>NO ELO</h1>

<div>
    <h3>Okienko czatu:</h3>
    <div th:each="msg : ${allMessages}">
        <span th:text="${msg.getHumanReadableTimestamp()}"></span>
        <span th:style="'color:' + ${msg.user.getColorCode()} + ';'" th:text="${msg.user.getName()}"></span>
        <span th:text="${msg.message}"></span>
    </div>
</div>
<form method="post" th:object="${newMessage}">
    <label for="newMessage">Message:</label>
    <input id="newMessage" type="text" th:field="*{message}">
    <button type="submit">Send</button>
</form>
</body>
</html>